article .banner li:nth-child(1) em{
    color: #0eb1e6;
}
article .banner li:nth-child(1) p{
    background: #0eb1e6;
}
article .banner li:nth-child(1) .fan_icon{
    background: url("../images/18.png") no-repeat 0 0;
}
article .banner li:nth-child(2) .fan_icon{
    background: url("../images/21.png") no-repeat 0 0;
}
article .banner li:nth-child(3) .fan_icon{
    background: url("../images/23.png") no-repeat 0 0;
}
article .banner li:nth-child(4) .fan_icon{
    background: url("../images/24.png") no-repeat 0 0;
}
/*healthy 健康状态*/
article .heal{
    width: 1146px;
    height: 992px;
    margin-left:10px;
    margin-top:15px;
}
article .heal .heal_u{

    height: 40px;
    background: rgba(0,0,0,0.15);
}
article .heal .heal_u li{
    width: 573px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #e6e6e6;
    cursor: pointer;
}
/*article .heal .heal_u li:nth-child(1){
    background: #000;
}*/
/*健康状态3D图*/
 article .heal .heal_t{background: rgba(0,0,0,0.2);}
 article .heal .heal_d{
    display: block;
    width: 1146px;
    height: 954px;
    background: url("../images/wind_fan.png") no-repeat 0 34px;
    position: relative;
}
article .heal .heal_d .heal-name{
    width: 690px; 
    height: 550px;
    position: absolute;
    left:0; 
    top:0;
}
article .heal .heal_d .heal-name dl{
    position: absolute;
    font-family:'宋体';
}
article .heal .heal_d .heal-name dl dt{
    margin-bottom: 6px;
}
article .heal .heal_d .heal-name dl dt a{
    display: block;
    width: 100%;
    height:20px;
    font-size: 14px;
    line-height: 20px;
    color:#fff;
    text-align: center;
}
article .heal .heal_d .heal-name dl dd{
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    padding-left:6px;
}
article .heal .heal_d .heal-name dl:nth-child(1){
    left: 32px;
    top: 8px;
    width: 126px;
    height: 160px;
    background: url(../images/fan/normal3.png) no-repeat;
}
article .heal .heal_d .heal-name dl:nth-child(2){
    left: 236px;
    top: 14px;
    width: 172px;
    height: 252px;
    background: url(../images/fan/normal1.png) no-repeat;
}
article .heal .heal_d .heal-name dl:nth-child(2) dd{
    padding-left: 32px;
}
article .heal .heal_d .heal-name dl:nth-child(3){
    left: 400px;
    top: 52px;
    width: 216px;
    height: 424px;
    background: url(../images/fan/normal2.png) no-repeat;
}
article .heal .heal_d .heal-name dl:nth-child(3) dd{
    padding-left: 46px;
}
article .heal .heal_d .heal-name dl:nth-child(4){
    left: 448px;
    top: 370px;
    width: 116px;
    height: 90px;
}
article .heal .heal_d .heal_dl{
    position: absolute;
    padding:40px 60px 0 50px;
    width: 306px;
    height: 170px;
    background: rgba(255,255,255,0.1);
    left:706px;
    top:52px;
}
article .heal .heal_d .heal_dl li{
    width: 128px;
    height: 42px;
    text-align: center;
    margin-top: 20px;

}
article .heal .heal_d .heal_dl li:nth-child(2),article .heal .heal_d .heal_dl li:nth-child(4){
    margin-left: 30px;
}
article .heal .heal_d .heal_dl .heal_dm{
    width: 40px;
    height: 40px;
    margin-top:10px;
    background: url("../images/29.png") no-repeat 0 0;
}
article .heal .heal_d .heal_dl .heal_dw{
    width: 40px;
    height: 40px;
    margin-top:10px;
    background: url("../images/26.png") no-repeat 0 0;
}
article .heal .heal_d .heal_dl .heal_de{
    width: 40px;
    height: 40px;
    margin-top:10px;
    background: url("../images/27.png") no-repeat 0 0;
}
article .heal .heal_d .heal_dl .heal_ds{
    width: 40px;
    height: 40px;
    margin-top:10px;
    background: url("../images/28.png") no-repeat 0 0;
}
article .heal .heal_d .heal_dl li div{
    color: #ffffff;
    padding-left:8px;
}
article .heal .heal_d .heal_dl li p{
    color: #0eb1e6;
}
article .heal .heal_d .heal_dl li i{
    color: #0eb1e6;
}
.heal .heal_u li a{color:#fff; display:block;}
.heal .heal_u li.selected { color:#FFF; background:#000;
    border-top:2px solid #0eb1e6;}
article .heal .heal_d .fun{
    width: 430px;
    height: 350px;
    position: absolute;
    left:706px;
    top:592px;
}
#fun{
    width: 430px;
    height:300px;
}
article .heal .heal_d .single{
    width: 640px;
    height: 350px;
    position: absolute;
    left:18px;
    top:600px;
}
article .heal .heal_d .single .single_sel {
    width: 138px;
    height: 20px;
    position: absolute;
    left:138px;
    top:0px;
    z-index:2;
}
article .heal .heal_d .single .single_sel  select{
    width: 100%;
    background: #1d1c1e;
    border: 1px solid #4b4b4b;
    color: #CCCCCC;
}
article .heal .heal_d .single h5{
    color: #ffffff;
    font-size: 14px;
}
article .heal .heal_d .single .single_t{
    width: 74px;
    height: 36px;
    background: url("http://211.159.172.203:8080/CPS/images/expect_03.png");
    margin-right:30px;
}
#single{
    width: 640px;
    height: 290px;
}
article .heal .heal_d #radar{
    width: 400px;
    height: 320px;
    position: absolute;
    left: 702px;
    top: 280px;
}
